.form-control {
    border-radius: 10px;
    background-color: #f9fbfd;
}

.form-control:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.d-flex {
    flex-wrap: wrap;
}